<<<<<<< HEAD
/*
ul {
list-style-type: none;
display:flex
}
.Homebutton {
    border: solid black ;
}

*/
.navcontainer {
    background-color: aqua;
=======
footer {
    background-color: darkgreen;
    display: flex
    
>>>>>>> Voet
}