

body{
    background-color: white;

 }
 h1{
     color: green;
 }
 h2 {
     color: blue;
 }
p{
    color: black;
}

header{
    background-color: darkgreen;
    height: 100px;
   

}
.navcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navcontainer ul{
    display:flex;
   
}


.navlist{
    list-style-type: none;
    justify-content: space-around;
    margin-right: 40px;
    border: solid black 3px;
    height: 30px;
    width: 60px;
    background-color: darkmagenta;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}
.navlist:hover{
    background-color: blue;
}

.navlist a{
    color: white;
    text-decoration: none;
    padding-top: 20px;
}

.navlist a:hover{
    color: black;
}
.cards_container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    margin-bottom: 20px;
    
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 250px;
    width: 100px;

  
}

.cardimg img{
    height: auto;
    width:100px;
}
.cardimg{
    display: flex;
    justify-content: center;
    align-items: center;    

}
.cardbody{
    font-size: 8px;

}   



footer{
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.fa{
    margin-right: 20px;
    text-decoration: none;
    color: purple;
    
}
.fa:hover {
    color:blue;
}
